/* 
    Document   : site.css
    Adapted from Garrick S. Bodine <garrick.bodine@gmail.com>

*/
*{
	border-radius: 0 !important;
}
body {
	font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
}
a {
	color: #3274C6;
}
a:hover,a:focus {
}
h1,h2,h3,h5,h6 {
	font-family: 'Exo',"Times New Roman",Times,serif;
	font-weight: 500;
	color: #6F787B;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
}
h4{
	font-family: 'Exo',"Times New Roman",Times,serif;
	font-weight: 500;
	color: #333;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #008A0C;
}
.nav-pills > li > a {
   color: #333;
}
.btn {
	background-image:none !important;
	box-shadow: none;
}
.jumbotron {
    /*background: linear-gradient(45deg, #3b3b3b 0%, #6F787B 100%) repeat scroll 0 0 transparent;*/
    background: #6F787B;
    /*box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;*/
    color: #FFFFFF;
    position: relative;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.jumbotron a {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out 0s;
}
.jumbotron a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}
.masthead {
    color: #FFFFFF;
    margin-bottom: 0;
}
.masthead h1 {
    font-size: 120px;
    letter-spacing: -2px;
    line-height: 1;
}
input,button,select,textarea {
	font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif
}
.navbar {
	margin-bottom: 0 !important;
	font-size : 110%;
}
.navbar-inner {
	background-image:none !important;
	border-radius : 0 !important;
	background-color: #008A0C;
	border:none;
}
.navbar-inverse .navbar-inner {
	background: none repeat scroll 0 0 #666666 !important;
    box-shadow: 0 1px 3px 1px #333333, 0 15px 10px -1px #777777 inset !important;

}
.navbar .nav > li > a {
	color:#FFF;
	text-shadow:none!important;
}
.nav > li > a {
    font-size: 110%;
}
.navbar .btn-navbar {
    background-color: #008A0C;
}
.navbar .btn-navbar:hover {
    background-color: #6F787B;
}
.dropdown-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
}
.nav-collapse .dropdown-menu{
	background-color: #FFF;
}
.dropdown-big .dropdown-menu {
    min-width: 250px;
    padding: 15px;
}
.open > .dropdown-menu {
    display: block;
}

.page-header {
	border-bottom: 1px solid #eff0f0;
}
#site-title {
	margin-top: 10px !important;
	padding-top: 0px;
}
div#content.container {
	margin-top:20px !important;
}
.padded {
	padding: 1em
}
.admin-bar {

}
.item-img>img {
	margin: .5em
}
.tooltip {
	font-size: 13px
}
.popular a,.-popular a {
	color: #000
}
.v-popular a,.vv-popular a,.vvv-popular a,.vvvv-popular a,.vvvvv-popular a,.vvvvvv-popular a,.vvvvvvv-popular a,.vvvvvvvv-popular a {
	color: #f0f0f0
}
.btn-inverse a {
	color: #fff
}
ul.error {
	padding: 1em
}
#search-container {
	padding: 2em 2em
}
#search-filters ul {
    clear: both;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
#search-filters li {
    background: url("../images/search.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    margin: 0 30px 20px 0;
    padding: 0 0 0 21px;
}
#search-filters li ul li {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#search-filters li ul li:after {
    content: ",";
}
#search-filters li ul li:last-child:after {
    content: "";
    
}
#collection-description {
	padding: 1em 1em 0 1em
}
legend {
	padding-top: 2em
}
#homeCarousel {
	border-radius: 5px !important;
}
.carousel {
	border: 1px solid #ccc
}
.carousel-caption h4 a {
	color:#FFFFFF;
}
.carousel-caption {
	color:#FFFFFF;
	background-color:#333S;
}
.carousel-control {
	line-height: 30px;
	font-weight: 500;
}
.item-img > img {
    margin: .5em;
	width : 70px !important;
}
.carousel {
    border: 1px solid #ccc;
}
div.carousel-img a img.img-polaroid {
	height : 300px;
	width : auto;
} 
.homeBox {
	padding: 0 1em;
	height: 75px;
	border-bottom: 1px solid #f5f5f5;
	border-radius: 5px !important;
}
.homeBox a {
	color: #333;
	text-decoration: none
}
.homeBox a:hover {
	color: #f5f5f5
}
.homeBox:hover,.homeBox:hover a {
	color: #f5f5f5;
	text-decoration: none
}
.homeBox:hover small {
	display: none
}
.homeBox h2 {
	margin: 0;
	padding-top: 18px;
	font-size: 20px
}
.homeBox img {
	margin: 5px 15px
}
#mapBox:hover {
	background: url('../images/misc/homenav/map.png') no-repeat right #333
}
#searchBox:hover {
	background: url('../images/misc/homenav/triskel.png') no-repeat right #333
}
#browseBox:hover {
	background: url('../images/misc/homenav/hermine.png') no-repeat right #333
}
#collectionBox:hover {
	background: url('../images/misc/homenav/hermineflag.png') no-repeat right #333
}
.tabs-left>ul.nav-tabs {
	float: right;
	clear: both;
	margin-right: 0;
	padding-right: 0
}
.simple-page-content img {
	margin: 2em
}
.simple-page-content img.pull-left {
	margin-left: 0
}
.simple-page-content img.pull-right {
	margin-right: 0
}
.simple-page-content p {
	padding-right: 3em
}
.simple-page-content blockquote {
	background: #f5f5f5;
	padding: 2em;
	font-weight: 500
}
.simple-page-content cite {
	font-size: 75%;
	color: #666
}
.simple-page-content h1 {
	font-size: 150%;
	text-align: center
}
.triBox {
	padding: .25em;
	border-radius: 5px;
	color: #333
}
.triBox a {
	color: #333
}
.triBox h4 a:hover {
 	text-decoration:none !important;
 }
.map-view-item {
	padding: .5em 1em 0 0
}
img[src*="gstatic.com/"],img[src*="googleapis.com/"] {
	max-width: 99999px
}
ul#home-links {
	border-right:1px solid #ccc;
}

#home-links li {
	padding: .5em 1em
}
.tooltip {
    font-size: 13px;
}

#admin-bar {
    width: 100%;
    position: fixed;
    top: 0;
}
#admin-bar-container .navbar-inner {
    width: 100%;
}
.popular a,
.-popular a,
.v-popular a,
.vv-popular a,
.vvv-popular a,
.vvvv-popular a,
.vvvvv-popular a,
.vvvvvv-popular a,
.vvvvvvv-popular a,
.vvvvvvvv-popular a {
    color: #333;
 }
        
.btn-inverse a {
    color: #fff;
}
#rowBottom {
    margin-bottom:15px;

}
#footer {
    background: url("../images/misc/background_bas_page.png") no-repeat scroll center top #6D777A !important;
    margin:0;
    min-height: 80px;
	color:#ffffff;
}
#footer-text {
    background-color : #6D777A !important;
    color:#ffffff;
    margin:0;
    font-size: 90%;
	line-height: 18px;
	position: relative;
    top: -5px;
}

}

#footer-text .span1 {
    width: 60px;
}

#footer-text  a {
    color: #FFFFFF !important;
}

#footer-text  a#r2logo {
    background: url("http://catalogue.bu.univ-rennes2.fr/opac-tmpl/rennes2/css/img/misc/logorennes2-6060.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 60px;
}

#footer-text p.address {
    height: auto;
    padding-bottom: 5px;
}
#footer-text  p {
    height: 20px;
    margin: 0 0 0 25px;
}
#footer-text  p span {
    background: url("http://catalogue.bu.univ-rennes2.fr/opac-tmpl/rennes2/css/img/icons/footerIcons.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    margin-right: 4px;
    width: 18px;
}
#footer-text  p.tel span {
    background-position: -18px 0;
}
#footer-text  p.fax span {
    background-position: -36px 0;
}
#footer-text  p.metro span {
    background-position: -54px 0;
}
#footer-text  p.bus span {
    background-position: -72px 0;
}
